.primary {
  float: left;
  position: relative;
  width: 72%;
  padding-right: 30px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

@media only screen and (max-width: 960px) {
  .primary {
    width: 100%;
  }
}

.thumbnail {
  position: relative;
  margin-bottom: 20px;
}

.entrytitle {
  font-size: 34px;
  padding: 0 0 20px;
  margin: 0 0 15px;
  border-bottom: 1px solid #e9e9e9;
  letter-spacing: 0.6px;
}

.meta ul {
  margin: 0 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 1.3;
  padding: 0 0 15px;
  list-style: none;
  border-bottom: 1px solid #e9e9e9;
}

.meta ul li {
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  flex-wrap: nowrap;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .meta ul li {
    flex-wrap: wrap;
  }
}

.meta ul li:after {
  content: "-";
  padding: 0 6px;
  font-weight: 700;
  position: relative;
}

.meta ul li:last-child:after {
  content: "";
}

.meta ul li a,
.meta ul li div {
  font-size: 16px;
  position: relative;
  margin-left: 4px;
}

.meta ul li a:hover {
  color: #d93644;
}

.entrycontent {
  margin-bottom: 20px;
}

.entrycontent p {
  margin: 16px 0px;
}

.entrycontent a {
  color: blue;
  text-decoration: underline;
}

.entrycontent a:active {
  color: purple;
}

.entrycontent h4 {
  margin: 16px 0px;
}

.entrycontent blockquote {
  margin: 16px 40px;
  padding-left: 20px;
  border-left-color: #d93644;
  border-left-width: 2px;
  font-style: italic;
}

.entryshare {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e9e9e9;
}

.entryshare h3 {
  float: left;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.entryshare ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.entryshare ul li {
  margin-right: 8px;
}

.entryshare ul li:hover rect {
  fill: #222;
  transition: 0.5s;
}

.postnavigation {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e9e9e9;
  min-height: 80px;
}

.navprevious {
  float: left;
  width: 50%;
  text-align: left;
  border-right-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  padding-right: 20px;
}

.navnext {
  float: right;
  width: 50%;
  text-align: right;
  padding-left: 20px;
}

.prevtext,
.nexttext {
  font-size: 16px;
  margin: 5px 0 0;
  transition: 0.2s;
}

.navprevious:hover .prevtext,
.navnext:hover .nexttext {
  color: #d93644;
}

.prevtitle,
.nexttitle {
  display: flex;
  align-items: center;
  color: #d93644;
  font-weight: 500;
}

.prevtitle {
  flex-direction: row;
}

.nexttitle {
  flex-direction: row-reverse;
}

.prevtitle span {
  margin-left: 15px;
}

.nexttitle span {
  margin-right: 15px;
}

.relatedposts {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e9e9e9;
  display: flex;
  flex-direction: column;
}

.relatedpoststitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1.3px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.relatedpostsentry {
  display: flex;
  flex-direction: row;
}

.relatedpostsentry article {
  width: 33.3333%;
  float: left;
  position: relative;
  min-height: 100px;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 750px) {
  .relatedposts {
    min-width: 100%;
  }
  .relatedpostsentry {
    flex-direction: column;
  }
  .relatedpostsentry article {
    width: 100%;
  }
}

.relatedpostsentry article h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 12px 12px 3px;
}

.relatedpostsentry article time {
  font-size: 12px;
  color: rgb(88, 86, 86);
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.relatedpostsentry article a:nth-child(2):hover {
  color: #d93644;
}

.thumbnail {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0.2);
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease;
}

.overlay:hover {
  opacity: 0.1;
}
