@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Tangerine&display=swap");

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  z-index: 40;
}

.row {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (min-width: 640px) {
  .row {
    padding: 0 35px;
  }
}

.small {
  flex: 0 0 3.3333333333%;
  min-width: 33.333333333%;
}

.column {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}

@media print, screen and (min-width: 40em) {
  .column {
    padding-right: 0.94rem;
    padding-left: 0.94rem;
  }
}

.logowrapper {
  margin: 0 auto;
  padding: 10px 0;
  display: inline-flex;
}

@media only screen and (min-width: 1024px) {
  .logo-wrapper {
    padding: 30px 0;
  }
}

.logo {
  font-family: "Nunito", sans-serif;
  font-family: "Tangerine", cursive;
  color: #d93644;
  font-weight: 600;
}

.secondaryarea {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}

.rightcontainers {
  padding-left: 10px;
}

.rightcontainers svg:hover {
  color: #d93644;
}

@media only screen and (min-width: 640px) {
  .rightcontainers {
    padding-left: 20px;
  }
}

.large {
  flex: 0 0 100;
  min-width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  align-items: center;
  border-top: 1px solid #e9e9e9;
}

.fullmenu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

.fullmenu li button p,
.drawermenu li p {
  font-size: 14px;
  font-weight: 500;
}

.fullmenu li p:hover,
.drawermenu li p:hover,
.menuhover:hover {
  color: #d93644;
}

.fullmenu > li + li {
  margin-left: 30px;
}

.fullmenu li button,
.drawermenu li button {
  padding: 0;
}

.drawermenu,
.accordionlist {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
