.contentwrap {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.singlepagearticle {
  display: block;
  box-sizing: border-box;
}

.bgpicture {
  position: relative;
  background-image: url("../../public/home/bg-picture.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgcolumn {
  display: flex;
  min-height: 700px;
  max-width: 1220px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media only screen and (max-width: 959px) {
  .bgcolumn {
    max-width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .bgcolumn {
    max-width: 1024px;
  }
}

.bgtextctr {
  position: absolute;
  width: 100%;
  top: 34%;
}

.bgtextheading {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.bgtextheading h2 {
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #494848;
}

.bgtextdivider {
  margin-bottom: 20px;
}

.divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.divider div {
  width: 4%;
  margin: 0 auto;
  border-top: 1px solid white;
}

.bgtextcontent {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #494848;
  position: relative;
}

.recentproducts,
.recentarticles {
  padding: 70px 0 50px;
  position: relative;
}

.rpcolumn,
.racolumn {
  max-width: 1220px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.rprow,
.rarow {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rpheading,
.rpdividerctr,
.raheading,
.radividerctr {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.rpheading h2,
.raheading h2 {
  color: #212121;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.rpdivider div,
.radivider div {
  width: 8%;
  margin: 0 auto;
  border-top: 1px solid gray;
}

.productsctr,
.articlesctr {
  width: 100%;
}

.articlectr {
  text-align: center;
}

.thumbnail {
  position: relative;
  margin-bottom: 25px;
}

.details {
  padding: 0 20px 20px;
}

.meta {
  color: #aaa;
  background-color: #f0eff0;
  list-style: none;
  margin: 0;
  padding: 5px 20px;
  font-size: 13px;
  display: inline-block;
  width: 100%;
}

.meta li:first-child {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.overlaybtn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -75px;
  min-width: 150px;
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: 1px solid #fff;
  z-index: 2;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.overlay:hover {
  opacity: 1;
}

.overlaybtn:hover {
  background-color: #fff;
  color: #333;
}

.details h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 15px;
  color: #333;
  line-height: 1.4;
  transition: all 0.2s ease;
}

.details h2:hover {
  color: #d93644;
}
