.searchbox {
  position: relative;
  margin-bottom: 20px;
  width: 620px;
  height: 44px;
  margin: auto;
}

@media only screen and (max-width: 899px) {
  .searchbox {
    width: 100%;
    bottom: 0;
    left: 0;
    margin: none;
  }
}

.searchboxform {
  position: relative;
}

@media only screen and (max-width: 899px) {
  .searchboxform {
    margin: auto;
    max-width: 90%;
  }
}

.searchboxinput {
  appearance: none;
  border: none;
  color: rgba(33, 36, 61, 0.8);
  min-height: 34px;
  height: 54px;
  outline: none;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgb(0 0 0 / 20%);
  padding: 4px 48px 0 64px;
}

@media only screen and (max-width: 899px) {
  .searchboxinput {
    font-size: 1rem;
    height: 44px;
  }
}
