.header {
  align-items: center;
  background: linear-gradient(#ce303d, #fca6ad);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  padding: 0.5rem 1rem;
  padding-bottom: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.headertitle {
  font-size: 38px;
  font-weight: 300;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
