.spacer {
  background-color: #d93644;
  position: relative;
  min-height: 87px;
  /* max-width: 1140px; */
  align-items: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.appsection {
  padding: 0px 80px 0px 80px;
  position: relative;
}

@media only screen and (max-width: 750px) {
  .appsection {
    padding: 0px 20px 0px 20px;
    position: relative;
  }
}

.appcontainer {
  max-width: 860px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.columnwrap {
  width: 100%;
  margin: -40px 0px 0px 0px;
  padding: 50px 80px 50px 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media only screen and (max-width: 899px) {
  .columnwrap {
    padding: 50px 20px 50px 20px;
  }
}

.heading {
  color: #d93644;
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 600px) {
  .headertitle {
    font-size: 28px;
  }

  .heading {
    display: none;
  }
}
