.blogcontainer {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.contentarea {
  float: left;
  width: 72%;
  padding-right: 30px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  margin-bottom: 50px;
}

@media only screen and (max-width: 960px) {
  .contentarea {
    width: 100%;
  }
}

.paginationbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
