.blogentryouter {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.thumbnail {
  margin-bottom: 20px;
  position: relative;
}

.blogentryheader {
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0.2);
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease;
}

.overlay:hover {
  opacity: 0.1;
}

.blogentryheader a:hover {
  text-decoration: none;
  color: #d93644;
}

.blogentryheader h2 {
  font-size: 24px;
}

.blogentryouter ul {
  margin: 0 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 1.3;
  padding: 0 0 10px;
  list-style: none;
}

.blogentryouter ul li {
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  flex-wrap: nowrap;
  padding-bottom: 5px;
}

@media only screen and (max-width: 900px) {
  .blogentryouter ul li {
    flex-wrap: wrap;
  }
}

.blogentryouter ul li:after {
  content: "-";
  padding: 0 6px;
  font-weight: 700;
  position: relative;
}

.blogentryouter ul li:last-child:after {
  content: "";
}

.blogentryouter ul li a,
.blogentryouter ul li div {
  font-size: 16px;
  position: relative;
  margin-left: 4px;
}

.blogentryouter ul li a:hover {
  color: #d93644;
}

.blogentrysummary {
  margin-bottom: 20px;
}
